@model SelectList
@{
    ViewBag.Title = "角色授权";
    ViewBag.Nav = "角色授权";
}
@using (Html.BeginForm())
{
    Html.AntiForgeryToken();
    <div class="form-group">
        <input type="submit" class="btn btn-palegreen" id="btn_query" value="保存">
        <a class="btn btn-default" href="@Url.Action("RoleList","Role")">返回</a>
        <input type="hidden" name="roleId" value="@Request.RequestContext.RouteData.Values["id"].ToString()" />
    </div>
    <table class="table">
        <tr>
            <td>分类</td>
            <td>权限</td>
            <td>全选</td>
        </tr>
        @foreach (var group in Model.Items.OfType<SelectListItem>().GroupBy(x => x.Group))
        {
            <tr>
                <td>@group.Key.Name</td>
                <td>
                    @foreach (var item in group)
                    {
                        <div class="checkbox col-lg-2 col-sm-2 col-xs-2">
                            <label>
                                <input type="checkbox" class="colored-success" name="permissionIds" value="@item.Value" @(item.Selected ? Html.Raw("checked") : null)>
                                <span class="text">@item.Text</span>
                            </label>
                        </div>
                    }
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="colored-success check-all" name="check-all" @(group.All(x => x.Selected == true) ? Html.Raw("checked") : null)>
                            <span class="text">全选</span>
                        </label>
                    </div>
                </td>
            </tr>
        }
    </table>

}
@section footer{
    <script>
        $(function () {
            $(".check-all").on("click", function () {
                var isChecked = $(this).prop("checked");
                $(this).parent().parent().parent().prev().find("input").prop("checked", isChecked);
            });

            $(".colored-success").on("click", function () {
                var isChecked = $(this).prop("checked");
                if(isChecked==false)
                {
                    $(this).parent().parent().parent().next().find("input").prop("checked", isChecked);
                }
            });
        });
    </script>
}